  .summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    padding: 2rem 0;
  }

  .card {
    width: 100%;
    margin: 1rem 0;
  }

  .cardContent {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    height: 8rem;
    width: 100%;
    align-items: center;
  }

  .priceOriginal {
    padding-right: 4rem;
  }

  .totalText {
    color: gray;
  }
