/* .navbar {
    border-bottom: 1px solid #3d3d3d;
    padding: 5px 0;
} */

.navbarDark {
    border-bottom: 1px solid #494949; /* color del borde en modo oscuro */
    padding: 5px 0;
}

.navbarLight {
    border-bottom: 1px solid #c4c4c4; /* color del borde en modo claro */
    padding: 5px 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    gap: 0;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.gridItemNavbar01 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gridItemNavbar02 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.gitdItem01 {
    grid-column: span 3;
}

.gitdItem02 {
    grid-column: span 8;
    display: flex;
    justify-content: center;
}

.gitdItem03 {
    grid-column: span 3;
    display: flex;
    justify-content: center;
}

.gitdItem04 {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.gitdItem05 {
    grid-column: span 3;
    display: flex;
    justify-content: center;
}

.gitdItem06{
    grid-column: span 3;
    display: flex;
    justify-content: center;
}

.gitdItem09{
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.gitdItem10{
    grid-column: span 7;
    display: flex;
    justify-content: center;
}